---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>👩🏽‍💻 About Me</h1>
      <p>
        Welcome! I'm <b>Shreya Shankar</b>, a computer scientist (she/they)
        living in the Bay Area. I am interested in practical applications of
        machine learning (ML) and solving their annoying data management
        challenges.
      </p>
      <p>
        My (in-progress) PhD is in databases at UC Berkeley, and I am fortunate
        to be advised by <a
          href="https://people.eecs.berkeley.edu/~adityagp/"
          target="_blank">Dr. Aditya Parameswaran</a
        >. Previously, I was the first ML engineer at <a
          href="https://www.viaduct.ai/"
          target="_blank">Viaduct</a
        >, did research engineering at <a
          href="https://ai.google/research/teams/brain"
          target="_blank">Google Brain</a
        >, and software engineering at <a
          href="https://www.facebook.com"
          target="_blank">Facebook</a
        >.
      </p>
      <p>
        During my time at Stanford (BS & MS in computer science)—an
        unnecessarily stressful experience yet a something I look back on very
        fondly—I helped run a nonprofit called SHE++, an organization that helps
        to empower underrepresented minorities in technology. I also spent a lot
        of time as a section leader for <a
          href="https://cs198.stanford.edu/cs198/Alumni.aspx"
          target="_blank">CS198</a
        > and served as the head TA for <a
          href="https://cs106b.stanford.edu"
          target="_blank">CS106B</a
        >.
      </p>
      <h3>Research</h3>

      <p>I'm working on the following projects:</p>

      <h5>Data Systems</h5>
      <ul class="ul1">
        <li class="li1">
          <span class="s2"
            >A dataflow-based framework to build continually-updating ML
            pipelines</span
          >
        </li>
        <li class="li1">
          <span class="s1"
            >Prompt engineering and management tools for large language models</span
          >
        </li>
      </ul>

      <h5>Machine Learning</h5>
      <ul class="ul1">
        <li class="li1">
          <span class="s2"
            >Mitigating effects of feedback delays on real-time ML performance</span
          >
        </li>
        <li class="li1">
          <span class="s2"
            >Mining feedback delays to build better ML performance debugging
            tools</span
          >
        </li>
      </ul>

      <h5>Human-Computer Interaction</h5>
      <ul class="ul1">
        <li class="li1">
          <span class="s2"
            >Interview study on best practices in CI / CD for ML (under
            revision)</span
          >
        </li>
        <li class="li1">
          <span class="s2"
            >Interfaces for integrating observability into ML pipelines</span
          >
        </li>
      </ul>

      <!-- <p>
        I'm working on the following projects:
        <table>
          <tr align="center">
            <th>Data Systems</th>
            <th>Machine Learning</th>
            <th>HCI</th>
          </tr>
          <tr>
            <td>
              <ul class="ul1">
                <li class="li1">
                  <span class="s2"
                    >A dataflow-based framework to build continually-updating ML
                    pipelines</span
                  >
                </li>
                <li class="li1">
                  <span class="s1"
                    >Prompt engineering and management tools for large language
                    models</span
                  >
                </li>
              </ul>
            </td>
            <td>
              <ul class="ul1">
                <li class="li1">
                  <span class="s2"
                    >Mitigating effects of feedback delays on real-time ML
                    performance</span
                  >
                </li>
                <li class="li1">
                  <span class="s2"
                    >Mining feedback delays to build better ML performance
                    debugging tools</span
                  >
                </li>
                {
                  /* <li class="li1"><span class="s2">Building repository of tasks with <a href="https://twitter.com/TweetAtAKK/status/1486026387525804034?s=20"><span class="s3">&ldquo;temporally evolving tabular data&rdquo;</span></a> (e.g. Ethereum gas price prediction)</span></li> */
                }
              </ul>
            </td>
            <td>
              <ul class="ul1">
                <li class="li1">
                  <span class="s2"
                    >Interview study on best practices in CI / CD for ML (under
                    revision)</span
                  >
                </li>
                {
                  /* <li class="li1"><span class="s2">Visualizing large-scale data drift</span></li> */
                }
                <li class="li1">
                  <span class="s2"
                    >Interfaces for integrating observability into ML pipelines</span
                  >
                </li>
              </ul>
            </td>
          </tr>
        </table>
      </p> -->
      <p>
        <strong
          >If you are interested in working on any of these projects or
          collaborating, please contact me via email.</strong
        > I am open to undergrads who have taken a databases course and/or a graduate
        level machine learning course. If you go to UC Berkeley, please mention that
        in your email. I apologize if I am unable to respond to your email in a timely
        manner.
      </p>
      <h3>Contact</h3>
      <p>
        To reach me, you can email <a href="mailto:shreyashankar@berkeley.edu"
          >shreyashankar@berkeley.edu</a
        >. I am also on <a href="https://twitter.com/sh_reya" target="_blank"
          >Twitter</a
        > and <a href="https://github.com/shreyashankar" target="_blank"
          >Github</a
        >.
      </p>
      <p>
        My (typically-outdated) CV is available for download <a
          href={`shreyashankarcv.pdf`}
          target="_blank">here.</a
        >
      </p>
      <Footer />
    </main>
  </body>
</html>
